<article class="slds-card">
  <div class="slds-card__body">
    <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols slds-tree slds-table_tree" role="treegrid" aria-label="Example default tree grid">
      <thead>
      <tr class="slds-line-height_reset">
        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
          <span id="column-group-header" class="slds-assistive-text">Choose a row</span>
          <div class="slds-th__action slds-th__action_form">
            <div class="slds-checkbox">
              <input type="checkbox" name="options" id="checkbox-unique-id-534" value="checkbox-unique-id-534" tabindex="-1" aria-labelledby="check-select-all-label column-group-header" />
              <label class="slds-checkbox__label" for="checkbox-unique-id-534" id="check-select-all-label">
                <span class="slds-checkbox_faux"></span>
                <span class="slds-form-element__label slds-assistive-text">Select All</span>
              </label>
            </div>
          </div>
        </th>
        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Institution Name">Institution Name</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Institution Location">Institution Location</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Degree">Degree</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Start Year">Start Year</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="End Year">End Year</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Additional Information">Additional Information</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr aria-level="1" aria-posinset="1" aria-selected="false" aria-setsize="4" class="slds-hint-parent" tabindex="0" *ngFor="let education of educations; index as i">
        <td class="slds-text-align_right" role="gridcell" style="width:3.25rem">
          <div class="slds-checkbox">
            <input type="checkbox" name="options" id="checkbox-{{i}}" value="checkbox-{{i}}" aria-labelledby="column-group-header" />
            <label class="slds-checkbox__label" for="checkbox-{{i}}" id="check-button-label-{{i}}">
              <span class="slds-checkbox_faux"></span>
              <span class="slds-form-element__label slds-assistive-text">Select item {{ i }}</span>
            </label>
          </div>
        </td>
        <td data-label="Institution Name" role="gridcell">
          <div class="slds-truncate" title="{{ education.institutionName }}">{{ education.institutionName }}</div>
        </td>
        <td data-label="Location" role="gridcell">
          <div class="slds-truncate" title="{{ education.institutionLocation }}">{{ education.institutionLocation }}</div>
        </td>
        <td data-label="Degree" role="gridcell">
          <div class="slds-truncate" title="{{ education.degree }}">{{ education.degree }}</div>
        </td>
        <td data-label="Start Year" role="gridcell">
          <div class="slds-truncate" title="{{ education.startYear }}">{{ education.startYear }}</div>
        </td>
        <td data-label="End Year" role="gridcell">
          <div class="slds-truncate" title="{{ education.endYear }}">{{ education.endYear }}</div>
        </td>
        <td data-label="Additional Information" role="gridcell">
          <div class="slds-truncate" title="{{ education.additionalInformation }}">{{ education.additionalInformation }}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</article>
