<article class="slds-card">
  <div class="slds-card__body">
    <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols slds-tree slds-table_tree" role="treegrid" aria-label="Example default tree grid">
      <thead>
      <tr class="slds-line-height_reset">
        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
          <span id="column-group-header" class="slds-assistive-text">Choose a row</span>
          <div class="slds-th__action slds-th__action_form">
            <div class="slds-checkbox">
              <input type="checkbox" name="options" id="checkbox-unique-id-534" value="checkbox-unique-id-534" tabindex="-1" aria-labelledby="check-select-all-label column-group-header" />
              <label class="slds-checkbox__label" for="checkbox-unique-id-534" id="check-select-all-label">
                <span class="slds-checkbox_faux"></span>
                <span class="slds-form-element__label slds-assistive-text">Select All</span>
              </label>
            </div>
          </div>
        </th>
        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Position">Position</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Place of Work">Place of Work</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Name of the Company">Name of the Company</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Start Date">Start Date</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="End Date">End Date</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>

        <th aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
          <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
            <span class="slds-assistive-text">Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
              <span class="slds-truncate" title="Background Information">Background Information</span>
              <span class="slds-icon_container slds-icon-utility-arrowdown">
                  <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                  </svg>
                </span>
            </div>
          </a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr aria-level="1" aria-posinset="1" aria-selected="false" aria-setsize="4" class="slds-hint-parent" tabindex="0" *ngFor="let employment of employments; index as i">
        <td class="slds-text-align_right" role="gridcell" style="width:3.25rem">
          <div class="slds-checkbox">
            <input type="checkbox" name="options" id="checkbox-{{i}}" value="checkbox-{{i}}" aria-labelledby="column-group-header" />
            <label class="slds-checkbox__label" for="checkbox-{{i}}" id="check-button-label-{{i}}">
              <span class="slds-checkbox_faux"></span>
              <span class="slds-form-element__label slds-assistive-text">Select item {{ i }}</span>
            </label>
          </div>
        </td>
        <td data-label="Institution Name" role="gridcell">
          <div class="slds-truncate" title="{{ employment.position }}">{{ employment.position }}</div>
        </td>
        <td data-label="Location" role="gridcell">
          <div class="slds-truncate" title="{{ employment.placeOfWork }}">{{ employment.placeOfWork }}</div>
        </td>
        <td data-label="Degree" role="gridcell">
          <div class="slds-truncate" title="{{ employment.nameOfTheCompany }}">{{ employment.nameOfTheCompany }}</div>
        </td>
        <td data-label="Start Year" role="gridcell">
          <div class="slds-truncate" title="{{ employment.startDate }}">{{ employment.startDate }}</div>
        </td>
        <td data-label="End Year" role="gridcell">
          <div class="slds-truncate" title="{{ employment.endDate }}">{{ employment.endDate }}</div>
        </td>
        <td data-label="Background Information" role="gridcell">
          <button type="button" nglButton (click)="open()">Show</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</article>

<ngl-modal [header]="'Background Information'" [(open)]="opened">
  <ng-template nglModalTagline>
    This is the background information that was used in order to determine the academic track-record
    of the person.
  </ng-template>
  <div class="slds-p-around_medium">
    <p>{{background}}</p>
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_neutral" (click)="close()">Close</button>
  </ng-template>
</ngl-modal>
